h3{
  font-weight: bold;
}
h4{
  background-color: #ccc;
  height: 26px;
  line-height: 26px;
}
img{
  border: 1px solid #ccc;padding: 3px;
}
.form-group{
  margin: 10px 0;
  label{
    padding-top: 5px;
  }
  span{
    color:red;
  }
}

button{
  margin-top: 10px;
}