body{
  background-color: #c0a16b;
}
h3{
  font-weight: bold;
  margin:15px 0;
}
h4{
  height: 26px;
  line-height: 26px;
  margin-bottom: 5px;
}
img{
  border: 1px solid #ccc;padding: 3px;
}
.form-group{
  margin: 10px 0;
  label{
    padding-top: 5px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 0;
    span{
      color:red;
    }
  }
}

button{
  margin-top: 20px;
}